$nav-bg-color: rgb(220, 220, 220);
$nav-link-fg-color: rgb(110, 110, 110);
$nav-link-hover-color: black;

.navbar {
  background-color: $nav-bg-color;
}

.navbar-nav .nav-link {
  color: $nav-link-fg-color;
  font-size: 1.2rem;
}
.navbar-nav .nav-link:hover {
  color: $nav-link-hover-color;
  cursor: pointer;
}

#logo {
  height: 5rem;
  padding: 0.8em;
}